@model SPGenerator.AddinWeb.ViewModels.Home.IndexVM

<div class="container">
    <div class="row">
        <a href="@Model.HostWebUrl" class="btn btn-info col-md-3 col-md-offset-9">
            <span class="glyphicon glyphicon-arrow-left pull-left"></span>
            Powrót do zbioru witryn
        </a>
    </div>
</div>
<div class="container">
    @if (Model.ShowSPGLists)
    {
        using(Html.BeginForm("List", "Home", new { @SPHostUrl = Request.QueryString["SPHostUrl"] }, 
            FormMethod.Post, new { @id = "mainForm", @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedSPGListTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.SelectedSPGListTitle, Model.SPGListsSelectList, "",
                   new { @class = "form-control pull-right", @onchange = "mainForm.submit()" })
                </div>
                <a href="@(Model.SelectedSPGList == null ? "" : Model.SelectedSPGListAbsoluteUrl)"
                   class="btn btn-info col-md-3 @(Model.SelectedSPGList == null ? "disabled" : "")">
                    <span class="glyphicon glyphicon-list-alt pull-left"></span>
                    Idź do  wybranej listy
                </a>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RecordsToGenerateCount, new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.RecordsToGenerateCount,
                   new { @class = "form-control pull-right", @type = "number", @min = "1", @max = "2000" })
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Nie znaleziono w zbiorze witryn żadnej listy na którą
                możliwe byłoby wygenerowanie danych
            </div>
        </div>
    }
</div>