@model SPGenerator.AddinWeb.ViewModels.Home.Column.NumberColumnVM

@Html.HiddenFor(m => m.ColumnName)
<div class="form-group">
    @Html.Label("", "Typ", new { @class = "control-label col-sm-5" })
    <span class="form-control-static col-sm-7">Number</span>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.GenerateData, new { @class = "control-label col-sm-5" })
    @if (Model.Required)
    {
        <span class="form-control-static col-sm-7">Pole wymagane</span>
        @Html.HiddenFor(m => m.GenerateData)
    }
    else
    {
        @Html.CheckBoxFor(m => m.GenerateData, new { @style = "vertical-align: middle;" })
    }
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MinValue, new { @class = "control-label col-sm-5" })
    @Html.TextBoxFor(m => m.MinValue,
                       new { @class = "form-control col-sm-7", @type = "number", @min = Model.InternalMinValue, @max = Model.InternalMaxValue })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaxValue, new { @class = "control-label col-sm-5" })
    @Html.TextBoxFor(m => m.MaxValue,
                       new { @class = "form-control col-sm-7", @type = "number", @min = Model.InternalMinValue, @max = Model.InternalMaxValue })
</div>