@model SPGenerator.AddinWeb.ViewModels.Home.Column.TextColumnVM

@Html.HiddenFor(m => m.InternalName)
<div class="form-group">
    @Html.Label("", "Typ", new { @class = "control-label col-sm-5" })
    <span class="form-control-static col-sm-7">Pojedynczy wiersz tesktu</span>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.GenerateData, new { @class = "control-label col-sm-5" })
    @if (Model.Required)
    {
        <span class="form-control-static col-sm-7">Pole wymagane</span>
    }
    else
    {
        @Html.CheckBoxFor(m => m.GenerateData, new { @style = "vertical-align: middle;" })
    }
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MinLength, new { @class = "control-label col-sm-5" })
    @Html.TextBoxFor(m => m.MinLength,
                       new { @class = "form-control col-sm-7", @type = "number", @min = Model.MinLength, @max = Model.MaxLength })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaxLength, new { @class = "control-label col-sm-5" })
    @Html.TextBoxFor(m => m.MaxLength,
                       new { @class = "form-control col-sm-7", @type = "number", @min = Model.MinLength, @max = Model.MaxLength })
</div>